modules/permissions-info.sch


<pattern id="permissions-info"  xmlns="http://purl.oclc.org/dsdl/schematron">
        <rule context="license/p | license/license-p">
            <report test="ext-link">INFORMATION: Any link in the text of a license should be to a human-readable license that does not contradict the machine-readable lincense referenced at license/@xlink:href.</report>
        </rule>
    </pattern>
    
    
 